.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

*{
    margin: 0px;
    padding: 0px;
    letter-spacing: 0%;
}

#body{
    background-color: rgb(245, 245, 245);
    font-family: "Fira Sans";
    width: max-content;
    margin: 0px auto;
}

.img{
    cursor: pointer;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
    padding: 24px 160px;
    align-items: center;
    margin-top: 0px;
    
}

.nav_title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
}

.nav_btn {
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    width: 116px;
    height: 52px;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.nav_btn:hover{
    transform: translateY(-5px);
    background-color: rgb(0, 106, 80);
    color: white;
    box-shadow: 5px 5px 5px gray;
}

.banner{
    width: 1080px;
    height: 400px;
    margin: 10px 160px 80px;
    background-color: rgb(198, 228, 214);
    align-items: center;
    padding: 80px 100px;
    border-radius: 24px;
}

.banner_content{
    display: flex;
    justify-content: space-between;
    align-items: center;

} 

.national_memorial{
    height: 400px;
    width: 474px;
}

.banner_title{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}

.banner_description{
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    letter-spacing: 0%;
}

.banner_btn{
    margin-top: 24px;
    width: 270px;
    height: 56px;
    background-color: rgb(0, 106, 80);
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: white;
    line-height: 22px;
    letter-spacing: 0%;
    transition-duration: 0.4s;
}
.btn{
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn:hover{
    background-color: white;
    color: rgb(0, 106, 80);
    box-shadow: 5px 5px 5px;
    transform: translateY(-5px);
    border: 1px solid rgb(0, 106, 80);

}


.pillars_section{
    width: 1280px;
    height: 324px;
    margin: 0px 160px 128px;
}
.pillars_section_title{
    height: 48px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 32px;
}

.pillar_title{
    width: 254px;
    height: 24px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.pillar_description{
    width: 254px;
    height: 72px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.pillars_container{
    display: flex;
    gap: 24px;
}

.pillars{
    height: 244px;
    width: 302px;
    border: 1px solid rgba(14, 14, 14, 0.15);;
    padding: 24px;
    border-radius: 16px;
    background-color: white;
}

.pillar_img, .pillar_title, .pillar_description{
    margin: 0px 0px 24px;
}

.vision_section{
    width: 1280px;
    margin: 0px 160px 80px;
}

.vision_section_title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 24px;
}

.vision_description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.vision_container{
    margin: 32px 0px;
    display: flex;
    gap: 32px;
    
}

.vision{
    border-radius: 16px;
    height: 325px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vision_title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.vision_paragraph{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.vision1{
    background: rgba(84, 144, 245, 0.2);
}

.vision2{
    background: rgb(198, 228, 214);
}

.vision3{
    background: rgb(247, 235, 207);
}

.vision_title{
    margin: 24px 0px;
}

.vision_button{
    width: 122px;
    height: 41px;
    align-items: center;
    border-radius: 8px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.vision_button1{
    border-radius: 8px;
    background: rgb(84, 144, 245);
}
.vision_button1:hover{
    color:  rgb(84, 144, 245);
    border: 1px solid;
    box-shadow: 5px 5px 5px;
}

.vision_button2{
    border-radius: 8px;
    background: rgb(9, 161, 92);
}

.vision_button3{
    border-radius: 8px;
    background: rgb(255, 194, 57);
}

.vision_button3:hover{
    color: rgb(255, 194, 57);
    border: 1px solid;
    box-shadow: 5px 5px 5px;
}

.quote_section{
    background-color: white;
    padding: 30px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.quote_div{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    padding: 18px 0px;
}
.quote{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 12px 0px;
}
.quote_speaker{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: 4px 0px;
}

.speaker_info{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 4px 0px;
}

.news{
    width: 1280px;
    margin: 0px 160px 80px;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.news_head{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin: 12px 0px;
}

.news_head_description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.news_image{
    border-radius: 24px;
}

.news_title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.news_time{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.short_news{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.read_more_button{
    width: 139px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.news_card{
    display: flex;
    padding: 48px;
    gap: 32px;
    background-color: white;
    border-radius: 24px;
    margin: 24px 0px 0px;
    transition-duration: 0.4s;
}

.news_card:hover{
    background-color: rgb(235, 245, 255);
    transform: translateY(-10px);
    box-shadow: 10px 10px 10px rgba(175, 205, 235);
}

.news_card_reversed{
    flex-direction: row-reverse;
}
.news_card_reversed:hover{
    box-shadow: 10px 10px 10px rgba(175, 205, 235);
    box-shadow: -10px 10px 10px rgba(175, 205, 235);
}

.news_detail{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.news_title{
    margin-bottom: 12px;
}

.news_time{
    margin-top: 12px;
}

.donate_title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.donate_description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 1104px;
    text-align: center;
}

.donate_card{
    width: 240px;
    height: 128px;  
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-family: "Fira Sans";
    font-weight: 700;
    line-height: 48px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    transition-duration: 0.4s;
}

.donate_card:hover{
    background-color: rgb(198, 228, 214);
}
.input_amount{
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    width: 952px;
    height: 64px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Fira Sans", serif;
}
.donate_now_button{
    width: 151px;
    height: 56px;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: "Fira Sans";
    font-weight: 600;
    line-height: 22px;
}

.donate_section{
    width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0px 160px 80px;
    align-items: center;
    gap: 32px;
}

.donate_amounts{
    width: 1071px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.subscribe_section{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    width: 1280px;
    height: 395px;
    margin: 0px 160px 80px;
}

.subscribe_content{
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe_title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 0px 0px 16px;
}

.subscribe_description{
    width: 622px;
    height: 48px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin: 16px 0px;
}

.email_container{
    width: 750px;
    height: 56px;
    display: flex;
    gap: 0px-
}

.email_input{
    width: 520px;
    height: 19px;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    border: none;
    padding: 18px 40px 18px 40px;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    }

.subscribe_button{
    width: 150px;
    height: 56px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border: none;
}

.no_spam_text{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
}

.footer{
    margin: 0px;
    padding: 0px;
    width: 1600px;
    height: 226px;

}

.footer_content{
    height: 126px;
    width: 1280px;
    padding: 50px 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.footer_title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.footer_dash{
    border: 1px solid rgba(14, 14, 14, 0.1);
    width: 1122px;
}

.media_icon{
    display: flex;
    gap: 24px;
}

.opinion_section{
    width: 1280px;
    margin: 0px 160px 80px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.opinion_title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}

.opinion_table{
    background-color: white;
    width: 1261px;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

table {
    margin: 32px;
    width: 1216px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
}
th{
    color: rgb(14, 14, 14);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 24px;
    background-color:rgb(198, 228, 214);
}
td {
    color: rgb(14, 14, 14);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 36px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
    
}
.select_opinion {
    padding: 10px 14px;
    width: 152px;
    height: 44px;
    color: rgb(14, 14, 14);
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    text-align: left;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgba(9, 161, 92, 0.15);
}
.select_opinion_cell{
    display: flex;
    justify-content: center;
}
